html, body, #map {
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    margin: 0;
    padding: 0;
    position: absolute;
    overflow: hidden;
    -webkit-text-size-adjust: none; /* Prevent font scaling in landscape on iPad*/
}

.qtip {
    font-family: Arial, sans-serif;
    font-size: 10pt;
    line-height: 12pt;
}

.header {
    position: absolute;
    left: 0px;
    top: 0px;
    background: #fff;
    background: rgba(0, 0, 0, 0.6);
    border: 1px solid gray;
    border-top: 0px;
    border-left: 0px;
    padding: 10px;
    color:white;
    font-family: Arial, sans-serif;
}

#copyright {
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    background: #fff;
    background: rgba(0, 0, 0, 0.6);
    border: 0px;
    border-top: 1px solid gray;
    padding: 10px;
    color:white;
    font-family: Arial, sans-serif;
    font-size: 8pt;
}

#copyright > a:link {
    color: white;
}

#copyright > a:active {
    color: white;
}

#copyright > a:visited {
    color: white;
}

#copyright > a:hover {
    color: white;
}

.slider {
    margin-top: 12px;
    margin-left: 8px;
    margin-right: 10px;
}

.slider-element {
    margin-top: 5px;
    margin-bottom: 5px;
}

.label {
    margin-right: 8px;
}

.title {
    font-size: 20px;
    font-weight: bold;
}

.shared {
    margin-top: 12px;
    margin-left: 8px;
    margin-right: 10px;
}


.route {
    fill: none;
    stroke: #3768cd;
    stroke-width: 2.5;
}

.stop {
    fill : #7aa6fe;
    stroke: black;
    stroke-width: 1;
}

.rental {
    fill: #ff9c39;
	stroke: black;
	stroke-width: 1;
    cursor: pointer;
}

.rental-img {
	max-height: 100px;
	max-width: 100px;
	float: right;
	margin: 0 0 0 10px;
}

.rental-viewed {
    fill: #935f2b;
    stroke: black;
    stroke-width: 1;
    cursor: pointer;
}

.reach {
    fill: rgba(122,166,254,0.2);
}

#unsupportedBrowser {
    margin: 20px;
}