html, body, #map {
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    margin: 0;
    padding: 0;
    position: absolute;
    overflow: hidden;
}

.route {
    fill: none;
    stroke: #a00;
    stroke-width: 2.5;
}

.stop {
    fill: #a00;
    stroke: black;
    stroke-width: 1;
}

.reach {
    fill: rgba(0,100,0,0.2);
}